body {
    color: white;
    background-color: black;
    display: flex;
}
#all {
    display: flex;
    width: 80%;
    padding-left: 5%;
    padding-top: 5%;
}
#right {
    width: 60vw;
}
#img {
    width: 100%;
}